@use "sass:map";

$themes: (
  dark: (
    bg-dark: oklch(0.1 0 340),
    bg: oklch(0.15 0 340),
    bg-light: oklch(0.2 0 340),
    text: oklch(0.96 0 340),
    text-muted: oklch(0.76 0 340),
    highlight: oklch(0.5 0 340),
    border: oklch(0.4 0 340),
    border-muted: oklch(0.3 0 340),
    primary: oklch(0.76 0.1 340),
    secondary: oklch(0.76 0.1 160),
    danger: oklch(0.7 0.05 30),
    warning: oklch(0.7 0.05 100),
    success: oklch(0.7 0.05 160),
    info: oklch(0.7 0.05 260),
  ),
  light: (
    bg-dark: oklch(0.92 0 340),
    bg: oklch(0.96 0 340),
    bg-light: oklch(1 0 340),
    text: oklch(0.15 0 340),
    text-muted: oklch(0.4 0 340),
    highlight: oklch(1 0 340),
    border: oklch(0.6 0 340),
    border-muted: oklch(0.7 0 340),
    primary: oklch(0.4 0.1 340),
    secondary: oklch(0.4 0.1 160),
    danger: oklch(0.5 0.05 30),
    warning: oklch(0.5 0.05 100),
    success: oklch(0.5 0.05 160),
    info: oklch(0.5 0.05 260),
  ),
);

@mixin theme-colors($theme-name) {
  @each $key, $value in map.get($themes, $theme-name) {
    --#{$key}: #{$value};
  }
}

:root[data-theme="light"] {
  @include theme-colors(light);
}

:root[data-theme="dark"] {
  @include theme-colors(dark);
}

$reference-colors: map.keys(map.get($themes, dark));

@each $theme-name, $theme-colors in $themes {
  $theme-color-names: map.keys($theme-colors);

  @each $color-name in $reference-colors {
    @if not map.has-key($theme-colors, $color-name) {
      @error "Theme '#{$theme-name}' is missing color '#{$color-name}'";
    }
  }
}
