@use "sass:map";

$font-mono: Consolas, "Lucida Console", Monaco, "Courier New", Courier,
  monospace;

$font-sizes: (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
);

$font-weights: (
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
);

$line-heights: (
  tight: 1.25,
  normal: 1.5,
  relaxed: 1.75,
);

$letter-spacings: (
  tight: -0.025em,
  normal: 0,
  wide: 0.025em,
  ultrawide: 0.2em,
);

@function font-size($size) {
  @return map.get($font-sizes, $size);
}

@function font-weight($key) {
  @return map.get($font-weights, $key);
}

@function line-height($key) {
  @return map.get($line-heights, $key);
}

@function letter-spacing($key) {
  @return map.get($letter-spacings, $key);
}
