@use "breakpoints.scss";
@use "colors.scss";
@use "effects.scss";
@use "typography.scss" as t;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.site-layout {
  background-color: var(--bg);
  color: var(--text);
  font-family: t.$font-mono;
  transition: background-color transition(base), color transition(base);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  header {
    background-image: linear-gradient(to bottom, var(--bg-light), var(--bg));
  }
  footer {
    background-image: linear-gradient(to top, var(--bg-light), var(--bg));
  }

  main {
    flex: 1;
  }
}

.content-wrapper {
  width: 100%;
  max-width: 576px;
  margin-inline: auto;

  overflow-wrap: break-word;
}

@include breakpoints.respond-up(md) {
  .content-wrapper {
    max-width: 720px;
    padding: 1rem;
  }
}

@include breakpoints.respond-up(lg) {
  .content-wrapper {
    max-width: 1024px;
    padding: 1rem;
  }
}
