.control-panel-wrapper {
  background-color: var(--bg-light);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.control-panel-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}
